@model SMS.School

@{
    ViewBag.Title = "New School";
}



<style>
    fieldset {
        border: 1px solid #ddd !important;
        margin: 0;
        min-width: 0;
        padding: 10px;
        position: relative;
        border-radius: 4px;
        background-color: #f5f5f5;
        padding-left: 10px !important;
    }

    legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0px;
        width: 35%;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px 5px 5px 10px;
        background-color: #ffffff;
    }
</style>

@using (Html.BeginForm())
{
    @Html.Partial("_AlertsMessage")
    
    @Html.AntiForgeryToken()
    <div class="col-md-2"></div>
    <fieldset class="col-md-8">
        <legend>Add New School</legend>
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <!-- Card -->
            <div class="card mx-xl-5">

                <!-- Card body -->
                <div class="card-body">
                    <!-- Default form subscription -->
                    <form>
                        <!-- Default input name -->
                        @Html.LabelFor(model => model.SchoolID, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.SchoolID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SchoolID, "", new { @class = "text-danger" })

                        <br>

                        <!-- Default input email -->
                        @Html.LabelFor(model => model.SchoolName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.SchoolName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SchoolName, "", new { @class = "text-danger" })

                        <br>

                        @Html.LabelFor(model => model.SchoolAddress, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.SchoolAddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SchoolAddress, "", new { @class = "text-danger" })

                        <div class="text-center py-4 mt-3">
                            <input type="submit" value="Add New School" class="btn btn-primary" />
                            <a href="@Url.Action("School")" class="btn btn-danger">
                                Close
                            </a>
                        </div>
                    </form>
                    <!-- Default form subscription -->

                </div>
                <!-- Card body -->

            </div>
            <!-- Card -->
        </div>
    </fieldset>
    <div class="col-md-2"></div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
